// ==========================================================================
// Variables: Colors
// ==========================================================================

// white
$color-white: #FFFFFF !default;

// black
$color-black: #000000 !default;
$color-charade: #292D34 !default;
$color-outer-space: #2c3138 !default;
$color-tuna: #333740 !default;

// grey
$color-grey: #bebebe!default;
$color-gray-nurse: #E8E8E8!default;
$color-mountain-mist: #979797!default;
$color-iron: #D8D8D8!default;
$color-gainsboro: #DFDFDF!default;
$color-anti-flash-white: #F3F3F3!default;
$color-light-grayish: #e1e1e0!default;
$color-mercury: #e5e5e5!default;
$color-silver-chalice: #aaaaaa!default;
$color-tower-gray: #adb7bf!default;
$color-slate-gray: #7b8994!default;

// green
$color-mantis: #72cf60!default;

// blue
$color-chambray: #3B5998!default;
$color-dodger-blue: #2895F1!default;
$color-selago: #f5fafe!default;
$color-matisse: #1F69A7!default;
$color-solitude: #E3F2FF!default;
$color-azure-radiance: #007EE5!default;
$color-science-blue: #0070cc!default;

// red
$color-red: #f00000!default;
$color-sunglo: #d96969!default;
$color-flamingo: #EF4F25!default;
$color-coquelicot: #FF3500!default;
$color-Valencia: #d34836!default;


// yellow
$color-di-serria: #e39959;
$color-golden-glow: #fce897;
